# Main Github CI pipeline to check the building and testing processes
#
# Required secrets and variables:
#
# secrets:
# - GITHUB_TOKEN: The default github token (It should be automatically created by Github).
#
# variables: none

name: ci
on:
  pull_request:
    branches:
      - dev
      - master
  push:
    branches:
      - master
  workflow_dispatch:

permissions: write-all

jobs:
  ci-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        base-image: [fedora-42]
        build-type: [Debug, RelWithDebInfo]
        compiler: [gcc, clang, libc++]
    container:
      image: yanzhaowang/srs-env:${{ matrix.base-image }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: 'true'
      - name: install and env vars
        run: |
          dnf upgrade -y
          dnf install -y conan nodejs
          cd $GITHUB_WORKSPACE/..
          echo "PARENT_DIR=$PWD" >> $GITHUB_ENV
          echo "CONAN_HOME=$PWD/.conan2" >> $GITHUB_ENV
          if [[ ${{ matrix.compiler }} == "libc++" ]]; then
            echo "CXX=clang++" >> $GITHUB_ENV
            echo "CC=clang" >> $GITHUB_ENV
            echo "CXXFLAGS=-stdlib=libc++" >> $GITHUB_ENV
          elif [[ ${{ matrix.compiler }} == "gcc" ]]; then
            echo "CXX=g++" >> $GITHUB_ENV
            echo "CC=gcc" >> $GITHUB_ENV
          elif [[ ${{ matrix.compiler }} == "clang" ]]; then
            echo "CXX=clang++" >> $GITHUB_ENV
            echo "CC=clang" >> $GITHUB_ENV
            echo "CXXFLAGS=-stdlib=libstdc++" >> $GITHUB_ENV
          else
            exit 1
          fi

      - name: restore cache
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ env.PARENT_DIR }}/.conan2
          key: ${{ matrix.base-image }}-${{ matrix.compiler }}-${{ matrix.build-type }}

      - name: set env variables for cdash
        if: github.event_name != 'push'
        run: |
          echo "TEST_MODEL=Experimental" >> $GITHUB_ENV
          export PULL_NR=${{ github.event.number }}
          echo "TEST_NAME=\"${{ matrix.compiler }}-${{ matrix.build-type }} (pr ${PULL_NR})\"" >> $GITHUB_ENV

      - name: build-test-submit
        run: |
          ctest -S test/project_ctest.cmake -VV -DCTEST_CONFIGURATION_TYPE=${{ matrix.build-type }} -DCTEST_BUILD_NAME="$TEST_NAME" --rerun-failed --output-on-failure
        # ./srs_backend_test --gtest_output=xml

      # - name: publish test report
      #   uses: dorny/test-reporter@v1
      #   if: success() || failure()
      #   with:
      #     name: Google test
      #     path: 'build/bin/test_detail.xml'
      #     fail-on-error: true
      #     reporter: java-junit
