name: make-caches
on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions: write-all

jobs:
  build-caches:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        base-image: [fedora-42]
        build-type: [Debug, RelWithDebInfo]
        compiler: [gcc, clang, libc++]
    container:
      image: yanzhaowang/srs-env:${{ matrix.base-image }}
    name: ${{ matrix.compiler }}-${{ matrix.build-type }}
    defaults:
      run:
        shell: bash
    env:
      CMAKE_GENERATOR: Ninja
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: 'true'

      - name: install and env vars
        run: |
          dnf upgrade -y
          dnf install -y conan nodejs
          cd $GITHUB_WORKSPACE/..
          echo "PARENT_DIR=$PWD" >> $GITHUB_ENV
          echo "CONAN_HOME=$PWD/.conan2" >> $GITHUB_ENV
          if [[ ${{ matrix.compiler }} == "libc++" ]]; then
            echo "CXX=clang++" >> $GITHUB_ENV
            echo "CC=clang" >> $GITHUB_ENV
            echo "CXXFLAGS=-stdlib=libc++" >> $GITHUB_ENV
          elif [[ ${{ matrix.compiler }} == "gcc" ]]; then
            echo "CXX=g++" >> $GITHUB_ENV
            echo "CC=gcc" >> $GITHUB_ENV
          elif [[ ${{ matrix.compiler }} == "clang" ]]; then
            echo "CXX=clang++" >> $GITHUB_ENV
            echo "CC=clang" >> $GITHUB_ENV
            echo "CXXFLAGS=-stdlib=libstdc++" >> $GITHUB_ENV
          else
            exit 1
          fi

      - name: build
        run: |
          git config --global --add safe.directory $GITHUB_WORKSPACE
          conan config install utils/settings/conan/settings_user.yml
          cmake --preset default -DCMAKE_BUILD_TYPE=${{ matrix.build-type }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: cache-delete
        run: |
          gh cache delete ${{ matrix.base-image }}-${{ matrix.compiler }}-${{ matrix.build-type }} || true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: save cache
        id: cache-save
        uses: actions/cache/save@v4
        with:
          path: |
            ${{ env.PARENT_DIR }}/.conan2
          key: ${{ matrix.base-image }}-${{ matrix.compiler }}-${{ matrix.build-type }}
