# Main Github CD pipeline to generate ReadMeDoc and Doxygen documentations
#
# Required secrets and variables:
#
# secrets:
# - DOXY_HOST: The remote server name (SSH server name) to host doxygen documentaiton.
# - DOXY_USERNAME: The user name from the remote server.
# - DOXY_HOST_PASSWORD: The password to access the remote server.
# - DOXY_LOCATION: Location of the doxygen folder in the remote server.
# - DOXY_PROXY_SERVER: Jump server of the SSH server.
#
# variables: none

name: publish-doc
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  artifact-gen:
    runs-on: macos-15
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'
      - name: run doxygen
        run: |
          brew upgrade
          brew install doxygen graphviz cmake ninja
          python3 -m venv venv
          source venv/bin/activate
          python3 -m pip install --upgrade pip
          python3 -m pip install sphinx breathe sphinx-rtd-theme
          cmake --workflow --preset build-doc

      - uses: actions/upload-artifact@v4
        with:
          name: doxygen-html
          path: build/doc/html
          retention-days: 1

      - uses: actions/upload-pages-artifact@v3
        with:
          path: build/doc/sphinx
          retention-days: 1

  publish-sphinx:
    runs-on: macos-15
    needs: artifact-gen
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  publish-doxygen:
    runs-on: ubuntu-latest
    needs: artifact-gen
    steps:
      - uses: actions/download-artifact@v4
        id: artifacts-download
        with:
          name: doxygen-html
          path: srs
      - name: publish doxygen
        uses: appleboy/scp-action@v0.1.7
        with: 
          source: srs
          host: ${{ secrets.DOXY_HOST}}
          username: ${{ secrets.DOXY_USERNAME }}
          password: ${{ secrets.DOXY_HOST_PASSWORD }}
          target: ${{ secrets.DOXY_LOCATION }}
          proxy_host: ${{ secrets.DOXY_PROXY_SERVER }}
          proxy_username: ${{ secrets.DOXY_USERNAME }}
          proxy_password: ${{ secrets.DOXY_HOST_PASSWORD }}
          overwrite: true
